---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>International talks</h2>

bla bla bla 1

{% for post in site.talks reversed %}
	{% if post.type == "National Talk" %}
		{post}
	{% endif %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>National talks</h2>


bla bla bla 2

{% for post in site.talks reversed %}
	{% if post.type == "International Talk" %}
		{post}
		{% include archive-single-talk.html %}
	{% endif %}
{% endfor %}