---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>International talks</h2>

{% for post in site.talks reversed %}
	{% if post.typelocation != "International" %}
		{% continue %}
	{% endif %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>National talks</h2>

{% for post in site.talks reversed %}
	{% if post.typelocation != "National" %}
		{% continue %}
	{% endif %}
		{% include archive-single-talk.html %}
{% endfor %}